<!-- Login -->

<div style ="font-size: 10em; color: rgba(146,220,229,0.3)"><i class="fa fa-user-circle"></i></div>

<% if logged_in? %>
    <p>Welcome <%= current_user.username %>!
    <form action="/logout" method="post" class="in_place_form">
        <button class="button button4" type="submit">Switch Accounts</button>
    </form>
    </p>
<% else %>
        <p><form action="/sessions" method="post" class="in_place_form">
            <input type="text" placeholder="Enter Name" name="username" required>
            <br>
            <button class="button button1" type="submit">Join Radio</button>
        </form></p>
<% end %>

<% if not $spotify_user %>
    <%= link_to '/auth/spotify' do %>
    <button class="button button5" type="submit">Sign in with Spotify</button>
    <% end -%>
<% else %>
        Logged into Spotify account of: <%= $spotify_user.display_name %>.
        You can't log out.
<% end %>
