<!DOCTYPE html>
<html lang='en'>

<h2> Plots </h2>


<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<div id="tester" style="width:600px;height:250px;"></div>


<script>
    TESTER = document.getElementById('tester');

    // Load the Queue from Ruby
    // TODO: Wrap this in some dynamic call (AJAX, jQuery, etc) so the page loads faster
    // TODO: Allow for specified data grab (say last 500 songs only, or filter by selector)
    var queue_arr = <%= QueueEntry.where(station: @station).to_json.html_safe %>;
    console.log("QueueArr:", queue_arr);

    function normalizeTitle(title) {

        // Delete Paren phrases
        open_paren_i = title.indexOf('(');
        close_paren_i = title.indexOf(')');
        if ((open_paren_i != -1) && (close_paren_i != -1)) {
            title = title.slice(0, open_paren_i) + title.slice(close_paren_i+1)
        }
        // console.log(title);

        // Strip after hyphens
        hyphen_i = title.search(/[-–] /g)
        if (hyphen_i != -1) {
            title = title.slice(0, hyphen_i)
        }
        // console.log(title);

        // Upercase
        title = title.toUpperCase();
        // console.log(title);

        // Only Letters
        title = title.replace(/[^A-Z ]/g, '');
        // console.log(title);

        // Split into words
        words = title.split(" ");
        // console.log(words);

        if (!words.length) {
            return [];
        }

        // Trim articles
        articles = ["THE", "A", "AN", "UN", "UNE", "LE", "LES"];
        if (articles.includes(words[0])) {
            words.shift();
        }
        // console.log(words);

        return words;
    }

    function firstLetter(title) {
        normalized = normalizeTitle(title);
        if (normalized.length == 0) {
            return "_";
        } else if (normalized[0].length == 0) {
            return "_";
        }
        return normalized[0][0];
    }

    function generateLetterFreqData(queue_arr) {
        // Create map
        let letter_freq = new Map();
        var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('');
        alphabet.forEach(function (letter) {
            letter_freq.set(letter, 0);
        });
        // console.log(letter_freq)

        // Loop through Queue
        queue_arr.forEach(function (q_entry) {
            var first_letter = firstLetter(q_entry.song.title);
            letter_freq.set(first_letter, letter_freq.get(first_letter)+1);
        });

        // Create the trace
        var trace = {
            x: Array.from(letter_freq.keys()),
            y: Array.from(letter_freq.values()),
            type: "bar"
        };

        return [trace];
    }

    // Parse the queue, return data to be plotted
    var data = generateLetterFreqData(queue_arr);

    // Actually plot the data
    Plotly.newPlot(TESTER, data);


</script>

Welcome to the most awesomest plots page! typo
