<div class="search-container">
    <form action="/songs/search", method="get", data-remote="true">
      <input type="text" placeholder="Search..." name="query">
      <button class="button button3" type="submit"><i class="fa fa-search"></i></button>
    </form>
 </div>

<div id="search-results">
  <!-- This is where search results go -->
</div>