<h2> Search Spotify </h2>
<div class="search-container">
    <form action="/songs/inline_search", method="get", data-remote="true", onsubmit="show_loading_gif()">
      <input type="text" placeholder="Search..." name="query" value="<%= @query ? @query : '' %> " autocomplete="off">
      <button class="button button3" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<h2> or Browse </h2>

<form action="/songs/browse", method="get", data-remote="true", onsubmit="show_loading_gif()">

  <!-- Determine default 'checked', based on if linked to Spotify -->
  <%check_all_songs = true %>
  <% if $spotify_user && current_user %>
    <% if $client_spotifies.key?(current_user.username) %>
      <%check_all_songs = false %>
    <% end %>
  <% end %>


  <input type="radio" name="source" value="all_songs" <%if check_all_songs%> checked <% end %> >
    <label for="all_songs">All Chosen Songs</label>
  <input type="radio" name="source" value="my_chosen_songs">
    <label for="my_chosen_songs">Songs Chosen by Me</label>
  <input type="radio" name="source" value="my_upvoted_songs">
    <label for="my_upvoted_songs">Songs Upvoted by Me</label>
  <input type="radio" name="source" value="my_spotify_library"
    <%if not check_all_songs%>
      checked
    <%else%>
      disabled
    <%end%>
  >
    <label for="my_spotify_library">My Spotify Library</label>

  <input type="text" name="query" value="<%= $the_next_letter %>" style="width:40px" autocomplete="off">
  <button class="button button3" type="submit">
    <i class="fa fa-search"></i>
    <div id="loadingspinner" class="loader" ></div>
  </button>

</form>


<script>

  var start_time = 0; // Timer for loading songs

  function show_loading_gif() {
    // console.log('Show loading gif please');
    var loadingspinner = document.getElementById("loadingspinner");
    loadingspinner.style.display = "block";
    start_time = Date.now() / 1000.0;
    console.log(`Start: ${start_time}`);
  }
</script>

<div id="search-results">
  <%= render partial: 'songs/search_results', :locals => {songs: songs, recommended: false} %>
</div>
