    <div class="chatbox">
      <p>Hello. How are you today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Hey! I'm fine. Thanks for asking!</p>
    </div>

    <div class="chatbox">
      <p>Sweet! So, what do you wanna do today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    </div>

    <div class="chatbox">
      <p>Hello. How are you today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Hey! I'm fine. Thanks for asking!</p>
    </div>

    <div class="chatbox">
      <p>Sweet! So, what do you wanna do today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    </div>


<!-- <div class="container">
      <input type="text" placeholder="Type message here...." name="chat">
</div> -->

<div class="chatbox emptychat">&nbsp;<br>&nbsp;<br>&nbsp;</div>

<div class="container" style="bottom: 80px; position: fixed; z-index: 1000; width: 70%;">
      <input type="text" placeholder="Type message here...." name="chat">
</div>