<div class="chatcontainer">
    <div class="chatbox">
      <p>Hello. How are you today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Hey! I'm fine. Thanks for asking!</p>
    </div>

    <div class="chatbox">
      <p>Sweet! So, what do you wanna do today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    </div>

    <div class="chatbox">
      <p>Hello. How are you today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Hey! I'm fine. Thanks for asking!</p>
    </div>

    <div class="chatbox">
      <p>Sweet! So, what do you wanna do today?</p>
    </div>

    <div class="chatbox rightChat">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    </div>
</div>

<!-- <div class="container">
      <input type="text" placeholder="Type message here...." name="chat">
</div> -->

<!-- <div class="chatbox emptychat">&nbsp;<br>&nbsp;<br>&nbsp;</div> -->

<div class="container" style="width: 90%; margin-left: 5%;">
      <input type="text" placeholder="Type message here...." name="chat">
      <button class="button button3" type="submit"><i class="fa fa-send"></i></button>
</div>