<div class="chatcontainer" id="chat">
</div>

<div class="container" style="width: 90%; margin-left: 5%;">
    <form onsubmit="send_chat(this.elements['message'].value); return false;">
      <input type="text" placeholder="Type message here...." name="message">
      <button class="button button3" type="submit"><i class="fa fa-send"></i></button>
    </form>
</div>

<script type="text/javascript">
  $(() => {
    // Load messages from the database on page load.
    <% ChatMessage.order(:created_at).each do |msg| %>
      receive_chat(<%= raw msg.to_json %>)
    <% end %>
  })
</script>
