<div class="chatcontainer" id="chat">
</div>

<div class="container" style="width: 90%; margin-left: 5%;">
    <form onsubmit="send_chat(this.elements['message'].value); return false;">
      <input id="chat-input" type="text" placeholder="Type message here...." name="message">
      <button class="button button3" type="submit"><i class="fa fa-send"></i></button>
    </form>
</div>

<script type="text/javascript">
  $(() => {
    <% scroll_limit = 10 %>
    scroll_limit = <%= scroll_limit %>;

    // Load messages from the database on page load.
    <% ChatMessage.order(:created_at).last(scroll_limit).each do |msg| %>
      receive_chat(<%= raw msg.to_json %>);
    <% end %>

    <% if @message_id %>
      // Scroll to the focused message
      focus_message(<%= @message_id %>);
    <% end %>

    // Lazily load more messages when the user scrolls to the top.
    $("#chat").scroll((event) => {
        if (event.target.scrollTop === 0) {
            load_more();
        }
    });

    // We've viewed the chat, so there are no new messages.
    new_chat_messages = 0;
    $("#chat_link").html()
  })
</script>
