<div class="chatcontainer" id="chat">
  <% ChatMessage.order(:created_at).each do |msg| %>
    <div class="chatbox <%= logged_in? and current_user == msg.sender ? "rightChat" : "" %>">
      <p><%= msg.message %></p>
    </div>
  <% end %>
</div>

<div class="container" style="width: 90%; margin-left: 5%;">
    <form onsubmit="send_chat(this.elements['message'].value); return false;">
      <input type="text" placeholder="Type message here...." name="message">
      <button class="button button3" type="submit"><i class="fa fa-send"></i></button>
    </form>
</div>

<script type="text/javascript">
  $(() => {
    // Scroll chat to the bottom when the page loads.
    $("#chat")[0].scrollTop = $("#chat")[0].scrollHeight;
  })
</script>
