function receive_chat(msg) {
    if (logged_in() && current_user().id === msg.sender.id) {
        msg_class = "chatbox rightChat";
        sender_tag = msg.created_at;
    } else {
        msg_class = "chatbox";
        sender_tag = `${msg.sender.username} (${msg.created_at})`;
    }

    // Add the new message.
    $("#chat").append(`
        <div class="${msg_class}">
          ${sender_tag}
          <p>${msg.message}</p>
        </div>
    `);

    // Scroll to the bottom.
    $("#chat")[0].scrollTop = $("#chat")[0].scrollHeight
}

function send_chat(message) {
    $.post("/chat", {message: message});
    return false;
}
