function format_date(date) {
    return new Date(date).toLocaleString();
}

function receive_chat(msg) {
    if (logged_in() && current_user().id === msg.sender.id) {
        msg_class = "chatbox rightChat";
        sender_tag = format_date(msg.created_at);
    } else {
        msg_class = "chatbox";
        sender_tag = `${msg.sender.username} (${format_date(msg.created_at)})`;
    }

    // Add the new message.
    $("#chat").append(`
        <div class="${msg_class}" id="chat-message-${msg.id}">
          ${sender_tag}
          <p>${msg.message}</p>
        </div>
    `);

    // Scroll to the bottom.
    $("#chat")[0].scrollTop = $("#chat")[0].scrollHeight
}

function mentioned_by(user, msg) {
    push(`${user.username} mentioned you: ${msg.message}`, msg.url);
}

function send_chat(message) {
    $.post("/chat", {message: message}, () => {
        // Clear the text input once the message has been sent.
        $("#chat-input").val("");
    });

    return false;
}

function focus_message(id) {
    chat = $("#chat")
    msg = $(`#chat-message-${id}`);
    chat.scrollTop(msg.offset().top + chat.scrollTop() - msg.height());
}
