
/*General Formatting*/
	body, html {
	  	border: 0;
	  	font-family: Arial, Helvetica, sans-serif;
	  	margin: 0;
	  	padding: 0;
	}

/* Navigation Bar */
	.topnav {
	  background-color: #131515;
	  margin-left: 0;
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1;

	}

		/* Style the links inside the navigation bar */
		.topnav a {
		  color: #eae8ff;
		  float: left;
		  font-size: 17px;
		  padding: 14px 16px;
		  text-align: center;
		  text-decoration: none;

		}

		/* Change the color of links on hover */
		.topnav a:hover {
		  background-color: #ef959d;
		  color: #131515;
		}

		/* Add a color to the active/current link */
		.topnav .active {
		  background-color: #e2f1af;
		  color: #131515;
		}

/*Split Screen*/
	 .column{
	 	float: left;
	 }

	 /* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

/* Sidebar */

 .sidebar {
  	/*background: linear-gradient(220deg, #e2f1af 0%, #ef959d 50%, #131515 90%);*/
  	background-image:
        linear-gradient(220deg, rgba(226,241,175,0.7) 0%, rgba(239,149,157,0.7) 50%, rgba(19,21,21,0.7) 90%), 
        url('https://i.ibb.co/CmygZL1/94426167-583747368918688-6925737925619482624-n.jpg');
  	background-repeat: no-repeat;
	background-size: cover;
  	height: 100%;
  	left: 0;
  	overflow-x: hidden;
  	padding-top: 70px;
  	position: fixed;
  	text-align: center;
  	top: 0; /* Stay at the top */
  	width: 30%;

	}

	.sidebar h2 {
		font-size: 2em;
		line-height: 1.4;
		margin-bottom: 0;
		color: #3f0c32;
		margin-top: 30px;
		}

	.sidebar p {
		font-size: 1.15em;
		font-weight: bold;
		line-height: 1.5em;
		margin-bottom: 1.5em;
		text-align: center;
		color: rgba(63,12,50,0.7);
	}

	/* The navigation menu links */
		/*	.sidebar a {
			  padding: 6px 8px 6px 16px;
			  text-decoration: none;
			  font-size: 25px;
			  color: #818181;
			  display: block;
			}
		*/
			/* When you mouse over the navigation links, change their color */
			/*.sidebar a:hover {
			  	color: #f1f1f1;
			}
		*/

/*Music Bar*/
	.musicBar {
	  background-color: #131515;
	  bottom: 0;
	  color: #eae8ff;
	  left: 0;
	  position: fixed;
	  text-align: center;
	  width: 100%;
	}

	.musicBar p{
		color: #e2f1af;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2em;
		margin-bottom: 0;
		text-align: center;
	}

		.columnMus {
		  float: left;
		}

		.leftMus, .rightMus {
		  width: 25%;
		}

		.middleMus {
		  width: 50%;
		  margin-top: 0.5em;
		}

		canvas {
		  background:#fff;
		  height:auto;
		  width:60%;

		}

/* Login */

	input[type=text]{
	  width: 70%;
	  padding: 10px 10px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #eae8ff;
	  box-sizing: border-box;
	  border-radius: 5px;
	}

/*Button*/

	/* Set a style for all buttons */
	button {
	  	background-color: rgba(255,255,255, 0.2);
	  	margin: 10px 0;
	  	border: none;
	  	cursor: pointer;
	  	/*width: 150px;*/
	  	font-size: 1.15em;
		font-weight: bold;
		line-height: 1.7em;
		margin-bottom: 1.5em;
		text-align: center;
		color: #eae8ff;
		border-radius: 5px;
	}

	/* Add a hover effect for buttons */
	button:hover {
	  opacity: 0.5;
	}

	.button1 {width: 150px;}
	.button2 {width: 100px;}
	.button3 {width: 50px;}
	.button4 {width: 200px;}

/*Main*/
	.main {
	  width: 70%;
	  text-align: center;
	  float: right;
	  /*background-color: #3f0c32;*/
	  background: linear-gradient(0deg, #3f0c32 0%, #131515 70%);
	  color: #ef959d;
	  padding-top: 70px;
	  padding-bottom: 75px;
	}

	 h3{
		font-size: 1.5em;
		line-height: 1.4;
		margin-bottom: 0;
		color: rgba(234, 232, 255, 0.4);
		margin-top: 30px;
	}

/*Table*/

	table {
	    text-align:center;
	    margin-left:auto;
	    margin-right:auto;
	    width: 95%;
	    /*table-layout: fixed;*/
	    border-collapse: collapse;
	  }

	table, th, td{
		border-bottom-style: solid;
	  	border-bottom-color: rgba(226,241,175,0.2);
	  }

	th{
		color: rgba(239,149,157,0.5);
		font-weight: bold;
	}

	td{
		color: #eae8ff;
	}

/*Screen Flex*/
	@media screen and (max-width: 800px) {
	  .column {
	    width: 100%;
	  }

	  .columnMus {
	    width: 100%;
	    font-size: 0.9em;
	  	line-height: 1.2em;
	  	margin-top: 0;

	  }

	  .sidebar{
	  	position: static;
	  }

	  .main{
	  	padding-top: 15px;
	  	padding-bottom: 180px;
	  }

	}

	@media screen and (max-width: 500px) {
	  .column {
	    width: 100%;
	  }

	  .columnMus {
	    font-size: 0.7em;
	  	line-height: 1em;

	  }

	  .main{
	  	padding-bottom: 120px;
	  }
