
/*General Formatting*/
	body, html {
	  	border: 0;
	  	font-family: Arial, Helvetica, sans-serif;
	  	margin: 0;
	  	padding: 0;
	  	height: 100%;
	  	/*background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(4,31,50,0.9) 70%, rgba(126,249,255,0.8) 150%), 
	  		url('https://i.ibb.co/pdzfTY1/hiclipart-com-1.png');*/
	    background: linear-gradient(0deg, black -30%, #041f32 70%, #7ef9ff 130%);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	}

	body::-webkit-scrollbar {
	  width: 0.5em;
	}
	 
	 
	body::-webkit-scrollbar-thumb {
	  background: linear-gradient(220deg, #e2f1af 0%, #92dce5 50%);
	  border-style: solid;
	  border-radius: 1em;
	  border-color: black;
	  /*border-width: thin;*/
	}

	body::-webkit-scrollbar-track-piece{
		background: black;
	}

/* Navigation Bar */
	.topnav {
	  background-color: #000;
	  margin-left: 0;
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	  border-radius: 0 0 20px 20px;
	  border-style: solid;
	  border-color: rgba(234,232,255,0.5);
	  border-left-style: hidden;
	  border-right-style: hidden;

	}

		/* Style the links inside the navigation bar */
		.topnav a {
		  color: #eae8ff;
		  float: left;
		  font-size: 17px;
		  padding: 14px 16px;
		  text-align: center;
		  text-decoration: none;

		}

		/* Change the color of links on hover */
		.topnav a:hover {
		  background-color: rgba(146,220,229,0.8);
		  color: #eae8ff;
		}

		/* Add a color to the active/current link */
		.topnav .active {
		  background-color: rgba(146,220,229,0.5);
		  color: #eae8ff;
		}

/*Split Screen*/
	.column{
	 	float: left;
	 }

	/* Clear floats after the columns */
	.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

/*Sidebar Split Screen*/
	/*	.sideRow{
			width: 100%;
		 }

		.sideCol:after {
			  float: left;
			}*/

/* Sidebar */

 .sidebar {
  	/*background: linear-gradient(220deg, #e2f1af 0%, #92dce5 50%, #041f32 90%);*/
  	background-image:
        linear-gradient(220deg, rgba(226,241,175,1) 0%, rgba(146,220,229,0.7) 50%, rgba(44,34,30,0.7) 90%), 
        url('https://i.ibb.co/CmygZL1/94426167-583747368918688-6925737925619482624-n.jpg');
    /*background-color: rgba(226,241,175,0.03);*/
  	background-repeat: no-repeat;
	background-size: cover;
  	height: 100%;
  	left: 0;
  	overflow-x: hidden;
  	padding-top: 60px;
  	position: fixed;
  	text-align: center;
  	top: 0; /* Stay at the top */
  	width: 30%;

	}

	.sidebar h2 {
		font-size: 2em;
		color: rgba(4,31,50,0.5);
		/*color: rgba(226,241,175,0.5);*/
		margin-bottom: 0;
		}

	.sidebar h4{
		font-size: 3.75em;
		color: rgba(4,31,50,0.5);
		/*color: rgba(226,241,175,0.5);*/
		margin-top: 0;
	}

	.sidebar p {
		font-size: 1.15em;
		line-height: 1.5em;
		margin-bottom: 1.5em;
		text-align: center;
		font-weight: bold;
		color: rgba(4,31,50,0.5);
	}

	.userlist{
		background-color: rgba(4,31,50,0.3);
		border-radius: 15px;
		width: 70%;
		height: 30%;
		display: inline-block;
	}

	.userlist p{
		margin: 1em;
		color: rgba(234,232,255,0.8);
		font-weight: normal;
	}

/*Music Bar*/
	.musicBar {
	  background-color: #000;
	  bottom: 0;
	  color: rgba(234,232,255,0.5);
	  left: 0;
	  position: fixed;
	  text-align: center;
	  width: 100%;
	  border-radius: 20px 20px 0 0;
	  border-style: solid;
	  border-color: rgba(234,232,255,0.5);
	  border-left-style: hidden;
	  border-right-style: hidden;
	}

	.musicBar p{
		color: #eae8ff;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2em;
		margin-bottom: 0;
		text-align: center;
	}

		.columnMus {
		  float: left;
		}

		.leftMus, .rightMus {
		  width: 25%;
		  display: inline-block;
		}

		.middleMus {
		  width: 50%;
		  margin-top: 0.5em;
		}

		canvas {
		  background:#fff;
		  height:auto;
		  width:70%;

		}

/* Login */

	input[type=text]{
	  width: 70%;
	  padding: 10px 10px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #eae8ff;
	  box-sizing: border-box;
	  border-radius: 5px;
	}

/*Button*/

	/* Set a style for all buttons */
	button {
	  	background-color: rgba(255,255,255, 0.2);
	  	margin: 10px 0;
	  	border: none;
	  	cursor: pointer;
	  	font-size: 1.15em;
		font-weight: bold;
		height: 1.7em;
		margin-bottom: 1.5em;
		text-align: center;
		color: #eae8ff;
		border-radius: 5px;
	}

	/* Add a hover effect for buttons */
	button:hover {
	  opacity: 0.5;
	}

	.button1 {width: 150px;}
	.button2 {width: 100px;}
	/*Search and Play/Pause Button*/
	.button3 {
		width: 50px;
		display: inline-block;
	}
	.button4 {width: 200px;}

	/*Spotify Button*/
	.button5 {
		width: 200px;
		background-color: rgba(146,220,229,0.5);
		color: #eae8ff;
		font-weight: normal;
	}

	/*add*/
	.button6{
		margin: 0 0;
		margin-bottom: 0;
	}

	/*play/pause*/
	.button7{
	}

	/*Show More*/
	.button8{
		font-weight: normal;
		/*width: 150px;*/
		font-size: 1em;
	}

	.fa{
		vertical-align: middle;
	}

/*Search Container*/

	.search-container{
		position: sticky;
		top: 50px;
	}

/*Main*/
	.main {
	  width: 70%;
	  background-repeat: no-repeat;
	  text-align: center;
	  float: right;
	  color: #92dce5;
	  padding-top: 70px;
	  padding-bottom: 75px;
	}



	 h3{
		font-size: 1.5em;
		line-height: 1.4;
		margin-bottom: 0;
		color: rgba(234, 232, 255, 0.4);
		margin-top: 30px;
	}

/*Table*/

	table {
	    text-align:center;
	    margin-left:auto;
	    margin-right:auto;
	    width: 95%;
	    /*table-layout: fixed;*/
	    border-collapse: collapse;
	  }

	table, th, td{
		border-bottom-style: solid;
	  	border-bottom-color: rgba(226,241,175,0.2);
	  }

	th{
		color: #eae8ff;
		font-weight: bold;
		padding-bottom: 6px;
		font-size: 1.3em;
	}

	td{
		color: rgba(234,232,255,0.5);
		font-size: 1em;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	tr:not(:first-child):hover { 
		background: rgba(226,241,175,0.1);
	}

/*Confirm Popup*/

	.dialog-ovelay {
	    /*position: absolute;*/
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: rgba(0, 0, 0, 0.7);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    z-index: 999999;
	    text-align: center;
	}
	.dialog-ovelay .dialog {
	    width: 400px;
	    margin: 100px auto 0;
	    background: linear-gradient(10deg, black 0%, #041f32 50%, #e2f1af 130%);
	    border-radius: 15px;
	    border-style: solid;
	    border-width: thin;
	    border-color: #eae8ff;
	    overflow: hidden;
	}

	.dialog-ovelay .dialog .dialog-msg {
	    padding: 12px 10px;
	}
	.dialog-ovelay .dialog .dialog-msg p{
	    color: #eae8ff;
		font-size: 1.2em;
		/*font-weight: bold;*/
		line-height: 1.2em;
	}

/*Chat Room*/

	.chatcontainer{
		height: 500px;
		width: 70%;
		margin-left: 15%;
		overflow: auto;
	}

	.chatcontainer::-webkit-scrollbar {
	  width: 0.5em;
	}
	 
	 
	.chatcontainer::-webkit-scrollbar-thumb {
	  background: linear-gradient(220deg, #e2f1af 0%, #92dce5 50%);
	  border-style: solid;
	  border-radius: 1em;
	  border-color: black;
	  /*border-width: thin;*/
	}

	.chatcontainer::-webkit-scrollbar-track-piece{
		background-color: rgba(255,255,255,0);
	}

	/* Chat containers */
	.chatbox {
	  background-color: rgba(234,232,255,0.2);
	  color: #eae8ff;
	  border-radius: 30px 30px 30px 0;
	  padding: 5px;
	  margin-left: 2%;
	  margin-top: 0.5em;
	  margin bottom: 0.5em;
	  line-height: 1.2em;
	  width: 60%;
	  text-align: left;
	  float: left;
	}

	/* Darker chat container */
	.rightChat {
	  background-color: rgba(226,241,175,0.2);
	  margin-right: 2%;
	  float: right;
	  text-align: left;
	  border-radius: 30px 30px 0 30px;
	}

	/* Clear floats */
	.chatbox::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	.chatbox p{
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.emptychat{
	  background-color: rgba(1,1,1,0);
	  padding: 10px;
	  margin-left: 15%;
	  margin-top: 1em;
	  width: 70%;
	}

/*Screen Flex*/
	@media screen and (max-width: 1600px) {

	.sidebar h2{
		font-size: 1.5em;
	}

	.sidebar h4{
		font-size: 2.8125em;
	}

	.button7{
	  	font-size: 0.8em;
	  }

	  .button6{
	  	font-size: 0.8em;
	  }

	  .chatcontainer{
		height: 375px;
	}

	}


	@media screen and (max-width: 1000px) {
	  .column {
	    width: 100%;
	  }


	  .columnMus {
	    width: 100%;
	    font-size: 0.9em;
	  	line-height: 1.2em;
	  	margin-top: 0;

	  }

	  td {
	  	font-size: 0.8em;
	  }

	  th{
	  	font-size: 1em;
	  }

	  .sidebar {
	  	position: static;
	  }

	  .main{
	  	padding-top: 15px;
	  	padding-bottom: 180px;
	  }

  	.dialog-ovelay .dialog .dialog-msg p{
		font-size: 1em;
		line-height: 1.2em;
	}

	.button2{
		font-size: 1em;
	}


	}

	@media screen and (max-width: 500px) {
	  .column {
	    width: 100%;
	  }

	  .columnMus {
	    font-size: 0.7em;
	  	line-height: 1em;

	  }

	  .main{
	  	padding-bottom: 120px;
	  }

	  .dialog-ovelay .dialog .dialog-msg p{
		font-size: 0.8em;
		line-height: 1em;
	}

	.button2{
		font-size: 0.8em;
	}

	.chatcontainer{
		height: 275px;
		width: 90%;
		margin-left: 5%
	}

	.chatbox{
		line-height: 1em;
		padding: 2px;
	}

	.chatbox p{
		font-size: 0.8em;
	}

	}

	span.audio-feature {
		display: inline-block;
		width: 300px;
		height: 60px;
		padding: 10px;
		margin-top: 5px;
		vertical-align: top;
		text-align: center;
		background-color: rgba(13, 155, 131, 0.2);
		background-clip: padding-box;  /* why no work */
		border-radius: 15px;
	}
